@media (min-width:576px){
    #course-card{
        flex-wrap: wrap !important;
        flex-basis: 40% !important;
        justify-content: space-between !important;
        margin-bottom: 20px !important;
        max-width: 40%;
    }
}

@media (min-width:1080px){
    #course-card{
        flex-wrap: wrap !important;
        flex-basis: 30% !important;
        justify-content: space-between !important;
        margin-bottom: 20px !important;
        max-width: 30%;
    }
}